.red-button {
    background: red;
}
.blue-button {
    background: blue;
}

.dev-button {
    background-image: url(img/dev.png);
    background-size:36px;
    background-repeat: no-repeat;
    background-position: center;
}
.export-metadata-button {
    /*background: blue;*/
    /* set image at folder img*/
    background-image: url(img/save.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
}